# ambiente virtual
env/
# se você preferir chamar de .venv, inclua também:
# .venv/

# arquivo de variáveis de ambiente
.env

# caches e compilados python
__pycache__/
*.pyc

# logs
*.log

# dados grandes (se você não quer versionar CSVs)
*.csv

# modelos serializados
*.joblib
